<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qegoo.seo.dao.IRecommendVersionDao">
    <insert id="insertRecommendVersion">
        insert into um_recommend_version (supplier_id,title,content,page, position, status) values
        (#{supplierId},#{title},#{content},#{page},#{position}, #{status})
    </insert>
    <select id="findAllVersion" resultType="cn.qegoo.model.flagship.RecommendPosition">
        select * from um_recommend_version where supplier_id=#{supplierId} ORDER BY status desc,id desc
        <if test="limit!=null">
            limit #{limit}
        </if>
    </select>
    <select id="findVersionById" resultType="cn.qegoo.model.flagship.RecommendPosition">
        select * from um_recommend_version where id=#{id}
    </select>

    <select id="selectRecommendVersion" resultType="cn.qegoo.model.flagship.RecommendPosition">
        select * from um_recommend_version where 1=1
        <if test="mouserVersion.id!=null and mouserVersion.id!='' ">
            and id=#{mouserVersion.id}
        </if>
        <if test="mouserVersion.supplierId!=null and mouserVersion.supplierId!='' ">
            and supplier_id=#{mouserVersion.supplierId}
        </if>
        <if test="mouserVersion.title!=null and mouserVersion.title!='' ">
            and title=#{mouserVersion.title}
        </if>
        <if test="mouserVersion.content!=null and mouserVersion.content!='' ">
            and content=#{mouserVersion.content}
        </if>
        <if test="mouserVersion.page!=null and mouserVersion.page!='' ">
            and page=#{mouserVersion.page}
        </if>
        <if test="mouserVersion.status!=null and mouserVersion.status!='' ">
            and status=#{mouserVersion.status}
        </if>
    </select>
    <update id="updateRecommendVersionById">
        <![CDATA[
          UPDATE um_recommend_version]]>
        <set>
            <if test="mouserVersion.supplierId!=null and mouserVersion.supplierId!='' ">
                supplier_id=#{mouserVersion.supplierId},
            </if>
            <if test="mouserVersion.title!=null and mouserVersion.title!='' ">
                title=#{mouserVersion.title},
            </if>
            <if test="mouserVersion.content!=null and mouserVersion.content!='' ">
                content=#{mouserVersion.content},
            </if>
            <if test="mouserVersion.page!=null and mouserVersion.page!='' ">
                page=#{mouserVersion.page},
            </if>
            <if test="mouserVersion.status!=null and mouserVersion.status!='' ">
                status=#{mouserVersion.status},
            </if>
            <if test="mouserVersion.position!=null and mouserVersion.position!='' ">
                position=#{mouserVersion.position},
            </if>

            updated_time=now(),
        </set>
        <![CDATA[
              WHERE id=#{mouserVersion.id}
              ]]>
    </update>
    <select id="findSelectTitle" resultType="cn.qegoo.model.flagship.RecommendPosition">
        SELECT title from
        um_recommend_version where id
        in(SELECT "max"(id) from um_recommend_version
        where page=#{page} and status='1' GROUP BY title) ORDER BY id
    </select>
</mapper>